/* Dark Mode Styles */
body{
    background-color: rgb(1, 1, 14);
    color: white;
}

nav{
    margin-bottom: 5;
    width: 100%;
}

nav h1 {
    color: white;
    background: linear-gradient(to bottom, #9b59b6, #8e44ad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Fallback for non-WebKit browsers */
     font-family: 'Playwrite NZ';
    

}

.nav-links li {
    color: white;
}

.btn {
    background: #8e44ad;
    color: white;
    border: 1px solid #fff;
}

.btn-light{
    background: transparent;
    color: #fff;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    transition: 0.3s;
}

.Learn-section{
    text-align: center;
    font-family: 'Playwrite NZ';
    margin-bottom: 5%;
}

.learn-container {
width: 100%;

}

.header {
display: flex;
align-items: center;
justify-content: center;
}

.header h1{
 font-size: 3rem;

}

.header img{
width: 100%;
max-width: 100px;

}

.top-sections {
    display: flex;
    gap: 3rem;
    justify-content: center;
    

}

.top-img {
    display: flex;
    justify-content: center; 
    height: 300px; 
}

.top-img img {
    max-width: 100%; 
    max-height: 100%; 
    height: auto; 
}


.top-content p{
    margin-bottom: 5%;
    font-size: 1.3rem;
    margin-top: 5%;
}

.top-content {
    text-align: center; 
}

.top-content a.btn {
    display: inline-block; 

}

.card2{
    width: 30%;
    padding: 10px 10px 30px 10px;
    background: linear-gradient(to left, #432251, #445cad);
}


.card1 {
 width: 30%;

 padding: 10px 10px 30px 10px;
 background: linear-gradient(to right, #432251, #8e44ad);
}



@media screen and (max-width: 600px) {
    .card1,
    .card2 {
        width: 100%; 
        margin-bottom: 10%;
     
    }

    .top-sections{
        display: block;
       
    }


.top-img img {
    max-width: 100%; 
    max-height: 100%; 
    height: auto; 
}
.header{
    margin-bottom: 5%;
}
.header h1{
 font-size: 2rem;

}

.header img{
width: 50%;
max-width: 50px;

}

.btn{
    padding: 5px 5px;
    font-size: 12px;
    text-transform: uppercase;
  
    color: #222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
}

.nav h1 {
     font-size: 1px;

}

}